def queueSizeValue = (System.getenv('NXF_QUEUE_SIZE') ?: '6') as Integer
def submitRateLimitValue = System.getenv('NXF_SUBMIT_RATE_LIMIT') ?: '2sec'
def clusterOptionsValue = System.getenv('NXF_CLUSTER_OPTIONS')
def beforeScriptValue = System.getenv('NXF_BEFORE_SCRIPT')
def containerOptionsValue = System.getenv('NXF_CONTAINER_OPTIONS') ?: '--userns'

executor {
  queueSize = queueSizeValue
  submitRateLimit = submitRateLimitValue
}

process {
  executor = 'slurm'
  if (clusterOptionsValue) {
    clusterOptions = clusterOptionsValue
  }
  if (beforeScriptValue) {
    beforeScript = beforeScriptValue
  }
  containerOptions = containerOptionsValue
}

singularity {
  enabled = (System.getenv('NXF_SINGULARITY_ENABLED') ?: 'true').toBoolean()
  autoMounts = (System.getenv('NXF_SINGULARITY_AUTOMOUNTS') ?: 'true').toBoolean()
}
